.pagination{
    padding: 1px;
    margin: 15px 0;
    display: flex;
    flex-flow: row nowrap;
}

.total{
    width: 200px;
    height: 50px;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    border-radius: 1rem;
    font-size: 1rem;
}

/*  Mobile  */
@media (max-width: 415px){
    .total{
        width: 100px;
    }
}
